.table {
  padding: 10px 5%;

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;

    p {
      width: 100px;
      text-align: center;
    }
  }
  .bottom {
    padding: 10px;

    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
@media screen and (max-width: 480px) {
  .table {
    text-align: left;

    .bottom {
      div {
        .actions {
          display: flex;
          flex-direction: column;
          width: 100%;
          button {
            margin-bottom: 10px;
          }
          span {
            display: none;
          }
        }
      }
    }

    p,
    button {
      font-size: 8px;
    }
  }
}
